/* Estilo geral da página */
body {
    background-color: #222; /* Fundo escuro de cinema */
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza tudo */
}

/* A Tela do Cinema */
.tela-cinema {
    background-color: #fff;
    height: 60px;
    width: 80%;
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: bold;
}

/* A NOSSA MATRIZ VISUAL */
.sala-cinema {
    display: grid;
    /* Aqui dizemos: Crie 4 colunas do tamanho exato dos assentos */
    grid-template-columns: repeat(4, 40px); 
    gap: 10px; /* O espaço entre os assentos */
}

/* Como é a aparência de um assento normal (Livre) */
.assento {
    background-color: #444451; /* Cinza */
    height: 40px;
    width: 40px;
    border-radius: 8px; /* Deixa as pontas arredondadas */
    cursor: pointer; /* Muda o mouse para uma "mãozinha" */
    transition: 0.2s; /* Animação suave */
}

/* Efeito ao passar o mouse por cima de um assento livre */
.assento:hover {
    background-color: #6feaf6; /* Fica azul claro */
}

/* Como é a aparência de um assento Ocupado */
.assento.ocupado {
    background-color: #e63946; /* Vermelho */
    cursor: not-allowed; /* Mostra o ícone de bloqueado no mouse */
}

/* O assento ocupado NÃO muda de cor ao passar o mouse */
.assento.ocupado:hover {
    background-color: #e63946; 
}